<ion-content class="paywall-content">
  <div class="paywall-sheet">
    <div class="paywall-header">
      <ion-icon name="sparkles-outline" class="paywall-icon"></ion-icon>
      <h2 class="paywall-title">{{ 'subscription.paywall.title' | translate }}</h2>
    </div>

    <p class="paywall-subtitle">{{ 'subscription.paywall.subtitle' | translate }}</p>

    <ul class="paywall-benefits">
      <li>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        {{ 'subscription.paywall.benefit1' | translate }}
      </li>
      <li>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        {{ 'subscription.paywall.benefit2' | translate }}
      </li>
      <li>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        {{ 'subscription.paywall.benefit3' | translate }}
      </li>
    </ul>

    <div class="paywall-actions">
      <lc-button
        variant="filled-accent"
        [fullWidth]="true"
        (click)="openContactSheet()"
      >
        {{ 'subscription.paywall.requestBtn' | translate }}
      </lc-button>

      <lc-button
        variant="ghost-primary"
        [fullWidth]="true"
        (click)="dismiss()"
      >
        {{ 'subscription.paywall.dismissBtn' | translate }}
      </lc-button>

      <button class="paywall-redeem-link" type="button" (click)="openRedeemSheet()">
        {{ 'subscription.redeem.haveCode' | translate }}
      </button>
    </div>
  </div>
</ion-content>
