<div class="lc-img-picker">
  <button class="lc-img-picker__camera" (click)="pickFromCamera()">
    <ion-icon name="camera-outline"></ion-icon>
    <span class="lc-img-picker__label">{{ 'image.camera.label' | translate }}</span>
    <span class="lc-img-picker__sub">{{ 'image.camera.hint' | translate }}</span>
  </button>

  <button class="lc-img-picker__gallery" (click)="pickFromGallery()">
    <ion-icon name="images-outline"></ion-icon>
    <span class="lc-img-picker__label">{{ 'image.gallery.label' | translate }}</span>
    <span class="lc-img-picker__sub">{{ 'image.gallery.hint' | translate }}</span>
  </button>

  <!-- Web fallback -->
  <input
    #fileInput
    type="file"
    accept="image/jpeg,image/png,image/webp"
    style="display:none"
    (change)="onWebFileSelected($event)" />
</div>
