<ion-tabs>
  <ion-tab-bar slot="bottom" [class.hide]="hideTabBar()">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>{{ 'tabs.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vault" href="/vault">
      <ion-icon aria-hidden="true" name="tv-outline"></ion-icon>
      <ion-label>{{ 'tabs.vault' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="review" href="/review">
      <ion-icon aria-hidden="true" name="play-circle-outline"></ion-icon>
      <ion-label>{{ 'tabs.review' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stories" href="/stories">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>{{ 'tabs.stories' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listen" href="/listen">
      <ion-icon aria-hidden="true" name="volume-high-outline"></ion-icon>
      <ion-label>{{ 'tabs.listen' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
